<h2><%=@attraction.name%></h2>
Minimun Height: <%=@attraction.min_height%><br>
Number of Tickets: <%=@attraction.tickets%><br><br>

<% if current_user.admin == true %>
  <%= link_to 'Edit Attraction', edit_attraction_path(@attraction), class: "btn btn-primary" %>
<% else %>
  <%= button_to 'Go on this ride', take_ride_path(@attraction), method: :post, class: "btn btn-primary" %>
<% end %>